header {
    text-align: center;
    color: aliceblue;
    font-size: 60px;
}

.card-header {
    background-color: slateblue;
    color: white;
    font-size: 35px;
}

.card-body {
    background-color: slateblue;
}

p {
    background-color: slateblue;
    text-align:center;
    margin-top: 30px;
    padding:30px;
    color: aliceblue;
    font-size: 30px;


}
body {
    background-color: darkslateblue;
}
.start-button {
    position: absolute;
    left: 45%;
}


section{
    position: relative;
}

main {
    position: relative;
}

#timer {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-size: 30px;

}

#score {
    color: white;
    font-size: 30px;
}

#submitScore {
    display: none;
    position: absolute;
    left: 35%;
}

#questions-container {
    position: absolute;
    color: white;
    font-size: 30px;
    top:20%;
    left: 20%;
}

#choices-container {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 30px;
}

#right-or-wrong {
    position: absolute;
    left: 20%;
    top:50%;
    color: white;
    font-size: 20px;
}

#playerNameInputLabel {
    color: white;
}