header {
    text-align: center;
    color: aliceblue;
    font-size: 60px;
}

p {
    margin-top: 30px;
    padding:30px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;


}
body {
    background-color: darkslateblue;
}
.start-button {
    position: relative;
    left: 430px;
}

section{
    display: none;
    position: relative;
    left: 1020px;
}

#question-container{
    display: none;
}

#choices-container{
    display: none;
}